* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
  }
  
  body {
    background-color:  rgb(49, 49, 49);
    /* display: flex; */
  }
  h1 > img {
    width: 100%;
  }

  .login-container {
    border: white 2px solid;
    width: 300px;
    height: 250px;
    margin: auto ;
    background-color: black;
    box-shadow: 2px 2px 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logout-bouton {
    position: absolute;
    top: 250px;
    left: 5px;
    padding: 10px;
    background: none;
    border: black;
    font-size: 1rem;
    cursor: pointer;
    background: rgb(95, 95, 95);
    color: aliceblue;
    transition: 0.2s;
  }

  .logout-bouton:hover {
    filter: brightness(80%);
    transform: translateX(2px);
  }
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    padding: 5px;
    margin: 5px;
}

h3 {
    color: white;
}

input[type="submit"] {
    background: none;
    border: black;
    font-size: 1rem;
    cursor: pointer;
    background: rgb(95, 95, 95);
    transition: 0.2s;
  }

  input[type="submit"]:hover {
    filter: brightness(80%);
    transform: translateX(2px);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.all-pages {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

  .page {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 15px;
  }

  .image {
    width: 100%;
    -webkit-box-shadow: 0px 4px 15px 10px #000000; 
    box-shadow: 0px 4px 15px 10px #000000;
  }

  .d {
    width: 170%;
    -webkit-box-shadow: 0px 4px 15px 10px #000000; 
    box-shadow: 0px 4px 15px 10px #000000;
  }

  p {
    padding-top: 10px
  }

  .num-page {
    color: white;
    font-size: x-large;
    text-align: center;
  }

  @media only screen and (min-width: 1000px) {
    /* body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      
    } */



    .logout-bouton {
      top: 5px;
      left: 5px;
      padding: 10px;
    }
  }

  @media only screen and (max-width: 500px) {
    /* body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      
    } */

    .container {

    }

    .logout-bouton {
      top: 60px;
      left: 0px;
      padding: 1px;
      width: 30%;
    }
  }






